:root{
    --primary:#CB9224!important;
    --hover:#9A8743;
    --dark:#000000;
    --secondary:#1A1878!important;
    --grey:#f5f5f5;
    --light-grey:#acacac;
}

body{
    font-family: 'Mukta Mahee', sans-serif!important;
}

.btn.btn-primary{
    display: inline-flex!important;
    padding: 10px 25px!important;
    justify-content: center!important;
    align-items: center!important;
    gap: 10px!important;
    border-radius: 100px!important;
    background: var(--primary)!important;
    color:white;
    border:none!important
}

.btn.btn-primary:hover{
    background:var(--hover)!important;

}

.btn.btn-outline-primary{
    display: inline-flex!important;
    padding: 10px 25px!important;
    justify-content: center!important;
    align-items: center!important;
    gap: 10px!important;
    border-radius: 100px!important;
    color:var(--primary)!important;
    border:2px solid var(--primary)!important;
}

.btn.btn-outline-primary:hover{
    background:var(--hover)!important;
    color:white!important;

}

.wrapper-body{
    max-width:1500px;
    position: static;
    margin:0 auto ;

}


/* navigation */

.navigation .navbar{
    height: 90px;
    width:100%!important;
    /* width: 1920px; */
    border: 1px solid rgba(255, 255, 255, 0.01);
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    padding:0 auto;
    flex-shrink: 0;
    font-weight: 500!important;
   
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: center;
    
}



@media (min-width:280px) and (max-width:900px){

    .navbar-collapse {

        margin-top: 2rem!important;
        background: white!important;
        padding: 30px 25px;
        border-radius: 20px!important;
        box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.25)!important;
      }
    
}



/* navigation */
